# Ignoruj katalog z przykładami (o poziom wyżej)
../examples/

# Pliki i katalogi devowe
.vscode/
.vscode-test/
node_modules/

# Git / systemowe
.git/
.gitignore
.gitattributes

# Artefakty
*.vsix
*.zip
*.log
npm-debug.log*
yarn.lock
package-lock.json

# Obrazy/screenshoty
#images/*.png
